{% extends "base.html" %}
{% block title %}Chińczyk{% endblock %}

{% block content %}

<div id="tab">
<table rules="none">
{% set r = [0] %}
{% set g = [0] %}
{% set y = [0] %}
{% set b = [0] %}
{% set red = [[9, 9], [9, 10], [10, 9], [10, 10],[6,10], [5, 9], [5, 8], [5, 7], [5, 6]] %}
{% set blue = [[9, 0], [9, 1], [10, 0], [10, 1],[10,4], [9, 5], [8, 5], [7, 5], [6, 5]] %}
{% set yellow = [[4,0],[0, 0], [0, 1], [1, 0], [1, 1], [5, 1], [5, 2], [5, 3], [5, 4]] %}
{% set green = [[0, 9], [0, 10], [1, 9], [1, 10],[0,6], [1, 5], [2, 5], [3, 5], [4, 5]] %}

        {% for j in range(0, 11) %}
        <tr>
            {% for i in range(0, 11) %}
                {% set id = [j,loop.index0] %}

                {% if id in blue %}
                    <td class="blue">

                {% elif id in red %}
                    <td class="red">

                {% elif id in green %}
                    <td class="green">

                {% elif id in yellow %}
                    <td class="yellow">

                {% elif id in [[4,6],[6,4]] %}
                    <td class="trap">

                {% elif id in [[4,4],[6,6]] %}
                    <td class="untouch">

                {% elif id in field %}
                    <td class="move">

                {% else %}
                    <td class="norm">
                {% endif %}

                {% for i in rpos %}
                    {% if i == id %}
                        {% if i in red %}
                            <div class="nochangeontheboard">
                            {{ 'R' }}
                            {{ loop.index0 }}
                        {% else %}
                            <div class="rpos">
                            {{ 'R' }}
                            {{ loop.index0 }}
                            </div>
                            {% endif %}
                    {% endif %}
                {% endfor %}

                {% for i in gpos %}
                    {% if i == id %}
                        {% if i in green %}
                            <div class="nochangeontheboard">
                            {{ 'G' }}
                            {{ loop.index0 }}
                        {% else %}
                            <div class="gpos">
                            {{ 'G' }}
                            {{ loop.index0 }}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}

                {% for i in ypos %}
                    {% if i == id %}
                        {% if i in yellow %}
                            <div class="nochangeontheboard">
                            {{ 'Y' }}
                            {{ loop.index0 }}
                        {% else %}
                            <div class="ypos">
                            {{ 'Y' }}
                            {{ loop.index0 }}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}

                {% for i in bpos %}
                    {% if i == id %}
                        {% if id in blue %}
                            <div class="nochangeontheboard">
                            {{ 'B' }}
                            {{ loop.index0 }}
                        {% else %}
                            <div class="bpos">
                            {{ 'B' }}
                            {{ loop.index0 }}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}

            {% endfor %}
        </tr>
        {% endfor %}
</table>

</div>
     <div class="color_turn">
        {{ 'Teraz rusza się pionek ' }}<br>

            {{ turn }}
     <br>
     {{ whatisay }} <br>
     {% if changeclass == 1 %}
            {{ 'Rzuca następny gracz' }}
        {% endif %}


    </div>

    <div class="choose_pawn">
        {% if changeclass == 0 %}
        <form name="chosepawn" action="game" onsubmit="return validate()" method="POST">
            {{ 'Wybierz pionek' }}<br>
            <div class="ss-item-required">
            <label>
                <input type="radio" value="0" name="pawnnum"> {{ 0 }}<br>
                <input type="radio" value="1" name="pawnnum"> {{ 1 }}<br>
                <input type="radio" value="2" name="pawnnum"> {{ 2 }}<br>
                <input type="radio" value="3" name="pawnnum" checked> {{ 3 }}<br>
            </label>
            </div>
            <div class="ss-item-required">
            <label>
                <input type="radio" value="forwards" name="dir" checked> {{ 'ruch wprzód' }}<br>
                <input type="radio" value="backwards" name="dir"> {{ 'ruch w tył' }}<br>
            </label>
            </div>
            <input type="submit">
        </form>
    {% else %}
    {{ 'Już zrobiłeś ruch' }}
    {% endif %}
    </div>
    <div class="cube">
        {{ 'Rzut kostką' }}<br>
        <div class="title">
            {{ cube }}
         </div>
        {% if changeclass == 1 %}
        <form action="game" method="POST">
            <input type="submit">
        </form>
        {% else %}
            {{ 'Nie ma oszukiwania' }}
        {% endif %}
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
    function validate() {
        if($('input[name=pawnnum]:checked').length<=0)
        {
         alert("Zaznacz wszystkie pola")
            return false
        }
    }




</script>
{% endblock %}