{% extends "base.html" %}
{% block title %}Chińczyk{% endblock %}

{% block content %}

<div id="tab">
<table rules="none">
{% set r = [0] %}
{% set g = [0] %}
{% set y = [0] %}
{% set b = [0] %}
        {% for j in range(0, 11) %}
        <tr>
            {% for i in range(0, 11) %}
                {% set id = [j,loop.index0] %}
                {#  <input type="button" >#}

                {% if id in [[9, 0], [9, 1], [10, 0], [10, 1],[10,4]] or id in blueh %}
                    <td class="blue">

                {% elif id in redh or id in [[9, 9], [9, 10], [10, 9], [10, 10],[6,10]] %}
                    <td class="red">

                {% elif id in [[0, 9], [0, 10], [1, 9], [1, 10],[0,6]] or id in greenh %}
                    <td class="green">

                {% elif id in [[4,0],[0, 0], [0, 1], [1, 0], [1, 1]] or id in yellowh %}
                    <td class="yellow">

                {% elif id in field %}
                    <td class="move">

                {% else %}
                    <td class="norm">
                {% endif %}


                {% for i in rpos %}
                    {% if i == id %}
                         {{ 'R' }}
                        {{ loop.index0 }}
                    {% endif %}
                {% endfor %}

                {% for i in gpos %}
                    {% if i == id %}
                         {{ 'G' }}

                        {{ loop.index0 }}
                    {% endif %}
                {% endfor %}

                {% for i in ypos %}
                    {% if i == id %}
                         {{ 'Y' }}

                        {{ loop.index0 }}
                    {% endif %}
                {% endfor %}

                {% for i in bpos %}
                    {% if i == id %}
                         {{ 'B' }}

                        {{ loop.index0 }}
                    {% endif %}
                {% endfor %}

            {% endfor %}
        </tr>
        {% endfor %}
</table>

</div>
     <div class="color_turn">
        {{ 'Teraz rusza się pionek ' }}<br>

            {{ turn }}
     <br>
     {{ whatisay }} <br>
     {% if changeclass == 1 %}
            {{ 'Rzuca następny gracz' }}
        {% endif %}


    </div>

    <div class="choose_pawn">
        {% if changeclass == 0 %}
        <form action="game" method="POST">
            {{ 'Wybierz pionek' }}<br>
            <label>
                <input type="radio" value="0" name="pawnnum" required> {{ 0 }}<br>
                <input type="radio" value="1" name="pawnnum" required> {{ 1 }}<br>
                <input type="radio" value="2" name="pawnnum" required> {{ 2 }}<br>
                <input type="radio" value="3" name="pawnnum" required> {{ 3 }}<br>
            </label>
            <label>
                <input type="radio" value="1" name="dir" checked> {{ 'ruch wprzód' }}<br>
                <input type="radio" value="0" name="dir"> {{ 'ruch w tył' }}<br>
            </label>
            <input type="submit">
        </form>
    {% else %}
    {{ 'Już zrobiłeś ruch' }}
    {% endif %}
    </div>
    <div class="cube">
        {{ 'Rzut kostką' }}<br>
        <div class="title">
            {{ cube }}
         </div>
        {% if changeclass == 1 %}
        <form action="game" method="POST">
            <input type="submit">
        </form>
        {% else %}
            {{ 'Nie ma oszukiwania' }}
        {% endif %}
    </div>

{% endblock %}

{% block scripts %}

{% endblock %}